@import "./colors.module.scss";

.form {
  border: 1px solid $darkGray;
  padding: 20px 0;
  max-width: 100%;
}

.formName {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
}

.nameAbbreviation {
}

.userName {
}

.membershipTime {
}

.membershipTimeImg {
  width: 20px;
}

.membershipTimeText {
}

.label {
}

.input {
}

.inputFlex {
}

.formBtn {
}

.title {
}

.btnColumn {
}

.renderForm {
}
